<% include ../partials/header %>
<% include ../partials/menu %>

<div class="background_image">
		<div class="text-block rounded">
			<h1>Welcome to WingZ!</h1>
			<ul>
				<li>To make a post click "Bird Posting" above</li>
				<li>To learn more about birds click "Bird Facts"</li>
				<li>To see birds found around Boulder click "Bird Citing" above</li>
			</ul>
		</div>
</div>


